<h1><%= @article.name %></h1>
<div class="content">
    <%= @article.content %>
</div>
<footer>
    <strong>
    创建时间：
    </strong>
    <span>
        <%= @article.created_at %>
    </span>
</footer>

